#ideasBtn{
    position: fixed;
    left: -35px;
    top: calc(50% - 60px);
    transform: rotate(270deg);
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    background: #f00;
    color: #fff;
}

.modal{
    max-width:100vw;
    padding:0;
    overflow: visible;
}

.ideasWrapper{
    padding:20px;
}

.ideasWrapper .ideasTabsNav{
    color: #000;
    background-color: #f1f1f1;
}

.ideasWrapper .ideasTabsNav a{
    display:inline-block;
    color:#000;
    height:50px;
    line-height:50px;
    padding:0 20px;
}

.ideasWrapper .ideasTabsNav a:hover,
.ideasWrapper .ideasTabsNav a.active{
    background:#000;
    color:#fff;
    text-decoration:none;
}

.ideasTabs{

}

.ideasTabs .ideasTab{
    display:none;
}

.ideasTabs .ideasTab.active{
    display:block;
    border:1px solid #ddd;
    padding:20px 0;

}

.ideasTabs .ideasTab .ideasPost{
    border-bottom:1px solid;
    padding:0 20px 10px 20px;
    margin-bottom: 10px;
    position:relative;
}

.ideasTabs .ideasTab .ideasPost:last-child{
    border:none;
}

.ideasTabs .ideasTab .ideasPost > span{
    position: absolute;
    font-size: 12px;
    right: 20px;
    top: 0;
}

.ideasTabs .ideasTab .ideasPost .vote{

}

.ideasTabs .ideasTab .ideasPost .ideas_vote a{
    display:inline-block;
    margin-right:20px;
    height:30px;
    line-height:30px;
    border-radius:5px;
    padding:0 10px;
    color:#fff;
    cursor:pointer;
}

.ideasTabs .ideasTab .ideasPost .ideas_vote a[data-action="vote_for"]{
    background:#0060CC;
}

.ideasTabs .ideasTab .ideasPost .ideas_vote a[data-action="vote_aganist"]{
    background:red;
}