@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');


#ideasBtn{
    position: fixed;
    left: -50px;
    top: calc(50% - 75px);
    transform: rotate(270deg);
    height: 60px;
    line-height: 60px;
    padding: 0 55px;
    background: #3350b9;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    z-index: 1;
}


#ideasBtn:hover{
    text-decoration:none;
    height:65px;
    line-height: 65px;
    left: -46px;
}

.modal{
    max-width:100vw;
    padding:0;
    overflow: visible;
    font-family: 'Open Sans', sans-serif;
    color:#1a1a1a;
}

.ideasWrapper{
    padding:20px;
}

.ideasWrapper .ideasTabsNav{
    color: #666;
    font-size:16px;
    background-color: #fff;
}

.ideasWrapper .ideasTabsNav a{
    display:inline-block;
    color: #666;
    height:60px;
    line-height:60px;
    padding:0 30px;
}

.ideasWrapper .ideasTabsNav a:hover,
.ideasWrapper .ideasTabsNav a.active{
    background:#f2f2f2;
    color:#1a1a1a;
    text-decoration:none;
}

.ideasTabs{
    border:5px solid #f2f2f2
}

.ideasTabs .ideasTab{
    display:none;
}

.ideasTabs .ideasTab.active{
    display:block;
}

.ideasTabs .ideasTab form.new_idea_form{
    background:#f2f2f2;
    padding:28px;
}

.ideasTabs .ideasTab form.new_idea_form p{
    font-size:18px;
}



.ideasTabs .ideasTab form.new_idea_form label{
    display:block;
    margin:20px 0;
}

.ideasTabs .ideasTab form.new_idea_form label input{
    border:1px solid rgb(224, 224, 224);
    background:#fff;
    height:48px;
    line-height:48px;
    padding:0 20px;
    display:block;
    width: 100%;
    border-radius:2px;
    box-shadow:none;
}

.ideasTabs .ideasTab form.new_idea_form label textarea{
    border:1px solid rgb(224, 224, 224);
    background:#fff;
    padding:10px 20px;
    height:150px;

    display:block;
    width: 100%;
    border-radius:2px;
    box-shadow:none;
}

.ideasTabs .ideasTab form.new_idea_form label small{
    margin-top:10px;
    display:block;

}


.ideasTabs .ideasTab form.new_idea_form .new_idea_submit{
    height: 50px;
    line-height:50px;
    border-radius: 2px;
    border:none;
    background: #3350b9;
    color: #fff;
    font-size:14px;
    display: inline-block;
    padding: 0 50px;
    cursor: pointer;
}




.ideasTabs .ideasTab .ideasPost{
    border-bottom:5px solid #f2f2f2;
    padding:30px;
    margin-bottom: 10px;
    position:relative;
    overflow:hidden;
}


.ideasTabs .ideasTab .ideasPost .ideasPostContent{
    float:left;
    width:80%;
}

.ideasTabs .ideasTab .ideasPost .ideasPostStatus{
    float:right;
    width:20%;
}

.ideasTabs .ideasTab .ideasPost .ideasPostStatus .ideasPostStatusLabel{
    font-size:12px;
    font-weight:600;
    display:block;
}

.ideasTabs .ideasTab .ideasPost .ideasPostStatus .ideasPostStatusValue{
    font-size:12px;
    display:inline-block;
    background:#f2f2f2;
    padding:5px 15px;
    border-radius:3px;
    margin-top:10px;

}

.ideasTabs .ideasTab .ideasPost h3{
    font-size:18px;
    font-weight:600;
}

.ideasTabs .ideasTab .ideasPost p{
    color:#666;
}

.ideasTabs .ideasTab .ideasPost:last-child{
    border:none;
}



.ideasTabs .ideasTab .ideasPost .ideas_vote a{
    display:inline-block;
    margin-right:20px;
    height:30px;
    line-height:30px;
    border-radius:2px;
    padding:0 0 0 24px;
    color:#fff;
    cursor:pointer;

}

.ideasTabs .ideasTab .ideasPost .ideas_vote a:hover{
    opacity:.8;
}

.ideasTabs .ideasTab .ideasPost .ideas_vote a span{
    background:#fff;
    color:#00b049;
    padding:0 5px;
    margin-right:5px;
    margin-left:10px;
    border-radius:2px;
}

.ideasTabs .ideasTab .ideasPost .ideas_vote a[data-action="vote_for"]{
    background:#00b049;
}

.ideasTabs .ideasTab .ideasPost .ideas_vote a[data-action="vote_aganist"]{
    background:#ff4132;
}

.selectIdeasTabs{
    display:none;
}

.IdeasSectionEmpty{
    padding: 28px;
}

@media (max-width:767px){
    #ideasBtn{
        height: 30px;
        line-height: 30px;
        padding: 0 30px;
        left:-32px;
        font-size:14px;
    }


    #ideasBtn:hover{
        height:35px;
        line-height: 35px;
        left: -46px;
    }


    .ideasTabs{
        border:none;
    }


    .ideasTabsNav{
        display:none;
    }

    .selectIdeasTabs{
        display:block;
        width:100%;
        border:1px solid #f2f2f2;
    }


    .ideasTabs .ideasTab form.new_idea_form{
        background:#fff;
        padding:0;
        margin-top:20px;
    }

    .ideasTabs .ideasTab form.new_idea_form p{
        font-size:14px;
    }



    .ideasTabs .ideasTab form.new_idea_form label{
        margin:10px 0;
    }

    .ideasTabs .ideasTab form.new_idea_form label input{
        height:28px;
        line-height:28px;
        padding:0 10px;

    }

    .ideasTabs .ideasTab form.new_idea_form label textarea{
        padding:5px 10px;
        height:100px;
    }




    .ideasTabs .ideasTab form.new_idea_form .new_idea_submit{
        height: 40px;
        width:100%;
        text-align: center;
        line-height:40px;
        padding: 0 0px;
    }



    .ideasTabs .ideasTab .ideasPost{
        border-bottom:1px solid #f2f2f2;
        padding:15px 0;
    }


    .ideasTabs .ideasTab .ideasPost .ideasPostContent{
        float:none;
        width:100%;
    }

    .ideasTabs .ideasTab .ideasPost .ideasPostStatus{
        float:none;
        width:100%;
        overflow:hidden;
        margin-bottom:20px;
    }

    .ideasTabs .ideasTab .ideasPost .ideasPostStatus .ideasPostStatusLabel{
        float:left;
        line-height:28px;
    }

    .ideasTabs .ideasTab .ideasPost .ideasPostStatus .ideasPostStatusValue{
        float:right;
        margin:0;

    }

    .ideasTabs .ideasTab .ideasPost h3{
        font-size:18px;
        font-weight:600;
    }

    .ideasTabs .ideasTab .ideasPost p{
        color:#666;
    }

    .ideasTabs .ideasTab .ideasPost:last-child{
        border:none;
    }



    .ideasTabs .ideasTab .ideasPost .ideas_vote a{
        margin-right:10px;
        font-size:11px;
        padding-left:0px;
        width:calc(50% - 8px);
        text-align:center;

    }

    .ideasTabs .ideasTab .ideasPost .ideas_vote a:last-of-type{
        margin-right:0;
    }

    .ideasTabs .ideasTab .ideasPost .ideas_vote a span{
        margin-left:5px;
        margin-right:0;
    }


}

